@model Portfolio.Core.Models.ContactViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

 

        <h1>A new message</h1>
            <h3>@Model.Name has posted on your site barryhalper.com</h3>
            <div style='font-style:italic; margin: 20px'>@Model.Message</div>
            <div >Email: @Model.Email</div>




</body>
</html>
