@import '_vars.css';

/********LAYOUT/NAVIGATION *********************************/

body {
    color: var(--dark-grey);
    font-family: 'Futura LT Regular';
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-size:3.5rem;
}

#main-container {
    position:relative;
    max-width:100VW
}

main .container {
    padding: 0;
    margin: 0;
    width: 100%;
}

a, a:visited {
    color: var(--dark-grey);
}

a:hover {
text-decoration: none;
color: var(--second-brand-color);
}


nav {
   width:100%
}

nav .container {
max-width: 1140px;

}

.navbar {
background-color: transparent;
font-family: 'Futura LT Regular';
font-size: 18px;
 z-index: 2;
position: absolute;
 }

.navbar i {
        display:none;
    }

.nav-link i {
    display: none;
}

nav a, .nav-link, a.navbar-brand, .nav-link:visited, .navbar-toggler i {
    color: var(--white);
}

    nav a.hover, .nav-link:hover {
        color: var(--second-brand-color);
       /*//border-bottom: 1px solid var(--second-brand-color);*/
    }

 a.navbar-brand:hover {
        color: var(--second-brand-color);
 }

a.nav-link.active {
    color: var(--second-brand-color);
    border-bottom: 1px solid var(--second-brand-color);
}

.nav .nav-item {
    margin-left:15px
}

.navbar-brand img {
    border-radius: 30%;
}

 footer {
        background-color: transparent;
        font-family: 'Futura LT Regular';
        color: var(--dark-grey);
        font-size: 14px;
        bottom: 0;
        width:100%;
        border-top:2px solid var(--light-grey);
  }

 footer ul.social-media li {
        list-style: none;
        display: inline-block;
        margin: 10px 0 0 15px;
 }

 footer  {
      font-size:1.1em;
  }

footer ul.social-media a {
        font-size: 1.75em;
    }

 footer ul.social-media a:hover {
        color: var(--second-brand-color);
    }

        


footer .float-right {
    margin-right:24px;
}

    footer a.more, footer a.more:visited {
        color: var(--second-brand-color);
    }

footer a.more:hover {
        color: var(--dark-grey);
    }



.jumbotron {
    position: relative;
    color: var(--white);
    background: transparent;
    padding:0;
    
}


 .jumbotron section {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:7%;
        max-height:65vh;

 }

    .jumbotron .btn-primary {
        background-color: var(--white);
        border-color: var(--white);
        color: var(--dark-grey);
    }


    .jumbotron .btn-primary:hover {
        background-color: var(--second-brand-color);
        border-color: var(--second-brand-color);
    }

#about-me {
    display: none;
    height: 200px;
}

.show-panel {
    bottom: 0!important;
    display:block!important;
}
/********PAGES ******************************************************************************************************************/

/**HOME PAGE ********************************************************************************************************************/
#skills-dock {
    width: 100%;
    height: 50px;
    display:flex;
    justify-content:center;

}


    #skills-dock ul {
        list-style: none;
    }

        #skills-dock ul li {
            display: inline-block;
        }

    #skills-dock li {
        height: 50px;
        margin-right: 20px;
    }


/**OPTIONS FOR ICONS ON Jumbrotop*/
#home .skills {
    background-color: rgba(255,255, 255, 0.2);
    padding: 20px;
    z-index: 2;
    position: absolute;
    bottom: 25px;
    transform: translateX(28%);
   
}


/**= CONACT PAGE****************************************************************************************/

.social-media {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

 
.social-media li {
        margin: 10px 0 25px 0;
    }


.social-media li i {
        margin-right:10px
}

/***FORM CONTROLS **************/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--second-brand-color);
    outline: 0;
    box-shadow: 0 0 0 0;
}

/**MISC******************************/
.panel {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-heading {
    background: var(--second-brand-color) !important;
    color: var(--navigation-background-color);
    border: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 10px 15px;
    font-size: 18px;
}

.panel-body {
    padding: 1rem;
}

form .btn-primary {
    background-color:var(--second-brand-color);
    border-color:var(--second-brand-color);
}

form .btn-primary::before {
    font-family: "Font Awesome 5 Pro";
    content: "\f064";
}