@{
    ViewBag.Title = "About";
}


<div id="about" class="jumbotron">

    <partial name="_backgroundImage" model="(string)ViewBag.Title.ToLower()" />
    <div class="container">
        <section class="page mb-3">

            <h1>@ViewBag.Title</h1>
        </section>
    </div>
</div>



<section id="about-content">
    <div class="container">
        <div class="row mt-3 ">
            <div class="col-4 ">


                <div class="panel">
                    <div class="panel-heading">
                        Innovator <i class="fad fa-lightbulb-on"></i>
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li> Set up a team of developers from scratch</li>
                            <li> Implmentated of SQL server and all business data</li>
                            <li> Implemented online payment processes (worldpay and strip)</li>
                            <li> Spearheaded complete change of development platforms (CF to .NET)</li>
                            <li> Implemented SEO best practice</li>
                            <li> Built a range of besposke CMS and CRM busines tools. </li>
                            <a href="/skills" class="btn-primary btn btn-sm">view my projects</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4 ">


                <div class="panel">
                    <div class="panel-heading">
                        Technical Lead <i class="fad fa-code"></i>
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li>  Design, build and manager SQL databases</li>
                            <li> Design build and suppport web applications, CRM CMS, REST APIs</li>

                            <li>  Design and create best practice UX using Industry standard markup and web technologies (HTML 5 Javascript 6, Bootsrap, Juery
                            <li> SEO implenation and best practice</li>
                            <a href="/skills" class="btn-primary btn btn-sm">view my skills</a>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-4 ">


                <div class="panel">
                    <div class="panel-heading">
                        Manager <i class="fad fa-tasks-alt"></i>
                    </div>

                    <div class="panel-body">
                        <ul>

                            <li> Condudting interviews, hiring full time development staff,  contractors and DBAs</li>
                            <li> Managing choice of platforms, frameworks, code standards, technolgies</li>
                            <li> Leasing with the business to ensure project deliver</li>
                            <li> Writing documnetation</li>
                            <li> Agile working pratices</li>
                            <a href="/skills" class="btn-primary btn btn-sm">view my tesimonials</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
