@{
    ViewBag.Title = "About";
}


<div id="skills" class="jumbotron">

    <partial name="_backgroundImage" model="(string)ViewBag.Title.ToLower()" />
    <div class="container">
        <section class="page mb-3">

            <h1>@ViewBag.Title</h1>
        </section>
    </div>
</div>

<section>
</section>
