@{ 
    ViewBag.Title = "Education";
}


<div id="education" class="jumbotron">

    <img srcset="
            /image/background/library.jpg  1024w,
            /image/background/library-medium.jpg 640w,
             /image/background/library-small.jpg 320w
            /image/background/library-wide.jpg  1980w" ,
         sizes="100vw"
         src="/image/background/library-small.jpg" alt="skills" />
    <div class="container">
        <section class="page mb-3">

            <h1>@ViewBag.Title </h1>
        </section>
    </div>
</div>

<section>
    <div class="container">

        <div class="row  mt-3 " id="education-body">

            <div class="col-md-4">
                <div class="panel ">

                    <div class="panel-heading">
                        Post Grad
                    </div>

                    <div class="panel-body">
                        <div class="image-container pr-1">
                            <img src="~/image/education/queen-mary-london.png" alt="Queen Mary's College Uninversity of London" class="img-fluid" />

                        </div>
                        <h3 class="pr-0 mr-0"> M.A. Literature Culture and Modernity</h3>
                    </div>
                    </div>
            </div>

            <div class="col-md-4">
                <div class="panel ">


                    <div class="panel-heading">
                        Univeristy
                    </div>


                    <div class="panel-body">
                        <div class="image-container pb-1">
                            <img src="~/image/education/manchester-metropolitian-university.png" alt="Manchester Metroploitna University" class="img-fluid" />
                        </div>
                            <h3>   B.A (hons) English and History</h3>
                            <span>Upper Second class degree</span>

                        </div>



                    </div>
            </div>

            <div class="col-md-4">
                <div class="panel">

                    <div class="panel-heading">
                        College
                    </div>

                    <div class="panel-body">
                       
                        <div class="image-container">
                            <img src="~/image/education/harrow.png" alt="Harrow College" class="img-fluid" />
                        </div>
                        <h3>   3 A Levels and 6 GCSEs </h3>
                        <span>Including Maths and English</span>
                    </div>

                   
                </div>
            </div>


        </div>
    </div>

</section>



