@model IEnumerable<Portfolio.Core.Models.SkillsViewModel>



<div id="skills" class="jumbotron">

    <img srcset="/image/background/skills.jpg  1024w,
            /image/background/skills-medium.jpg 640w,
             /image/background/skills-small.jpg 320w"
            sizes="100vw"
         
         src="/image/background/skills-small.jpg" alt="skills" class="img-fluid" />
    <div class="container">
        <section class="page mb-3">

            <h1>Skills</h1>
        </section>
    </div>
</div>

<section>

</section>

