@media screen and (min-width: 576px) {
    .jumbotron {
        padding: 0;
        margin: 0;
    }
}


@media (min-width:576px) and (max-width:768px) {
    .nav-link i {
        display: block;
    }

    .nav-link span {
        display: none;
    }

    #skills-dock li {
        height: 25px;
    }

    .jumbotron .container {
        margin-top: 3em;
    }
}



@media (min-width: 1200px) {
  

    
}

