@import '_vars.css';

/********LAYOUT/NAVIGATION *********************************/

body {
    color: var(--dark-grey);
    font-family: 'Futura LT Regular';
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-size: 1.7rem;
    color: var(--second-brand-color);
    margin-top: 15px;
}

#home h1 {
   
}

#main-container {
    position:relative;
    max-width:100VW
}


a, a:visited {
    color: var(--dark-grey);
}

a:hover {
text-decoration: none;
color: var(--second-brand-color);
}


nav {
   width:100%
}

nav .container {
max-width: 1140px;

}

.navbar {
background-color: transparent;
font-family: 'Futura LT Regular';
font-size: 18px;
 z-index: 2;
position: absolute;

 }

.navbar-background .navbar {
    background-color: var(--dark-grey);
}

.navbar-nav {
    flex-direction: inherit;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}



.navbar .nav-item i {
    display: none;
}

.nav-link i {
    display: none;
}

nav a, .nav-link, a.navbar-brand, .nav-link:visited, .navbar-toggler i {
    color: var(--white);
}

    nav a.hover, .nav-link:hover {
        color: var(--second-brand-color);
       /*//border-bottom: 1px solid var(--second-brand-color);*/
    }

 a.navbar-brand:hover {
        color: var(--second-brand-color);
 }

a.nav-link.active {
    color: var(--second-brand-color);
    border-bottom: 1px solid var(--second-brand-color);
}

.nav .nav-item {
    margin-left:15px
}

.navbar-brand img {
    border-radius: 30%;
}

 footer {
        background-color: transparent;
        font-family: 'Futura LT Regular';
        color: var(--dark-grey);
        font-size: 14px;
        bottom: 0;
        width:100%;
        border-top:2px solid var(--light-grey);
  }

 footer ul.social-media li {
        list-style: none;
        display: inline-block;
        margin: 10px 0 0 15px;
 }

 footer  {
      font-size:1.1em;
  }

footer ul.social-media a {
        font-size: 1.75em;
    }

 footer ul.social-media a:hover {
        color: var(--second-brand-color);
    }

        


footer .float-right {
    margin-right:24px;
}

    footer a.more, footer a.more:visited {
        color: var(--second-brand-color);
    }

footer a.more:hover {
        color: var(--dark-grey);
    }



.jumbotron {
    position: relative;
    color: var(--white);
    background: transparent;
    padding:0;
    margin-bottom:0;
    
}


 .jumbotron section {
      

 }


    .jumbotron section h1{
    }



    .btn-primary {
        background-color: var(--second-brand-color);
        border-color: var(--second-brand-color);
        color: var(--white);
    }


 .btn-primary:hover {
            background-color: var(--dark-grey);
            border-color: var(--dark-grey);
        }

#about-me {
    display: none;
    height: 200px;
}

.show-panel {
    bottom: 0!important;
    display:block!important;
}






/********PAGES ******************************************************************************************************************/


/**MISC******************************/
.panel {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
    
}

.panel-heading {
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    border-bottom: 2px solid var(--light-grey);
   
}

.panel-body {
    padding: 1rem;
   
}

/***FORM CONTROLS **************/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--second-brand-color);
    outline: 0;
    box-shadow: 0 0 0 0;
}



form .btn-primary {
    background-color:var(--second-brand-color);
    border-color:var(--second-brand-color);
}

    form .btn-primary:hover, form .btn-primary:focus {
        background-color: var(--dark-grey);
        border-color: var(--dark-grey);
    }






.list-inline {
    list-style: none;
}

.list-inline li {
    display: inline-block;
 }



/**HOME PAGE ********************************************************************************************************************/
/**OPTIONS FOR ICONS ON Jumbrotop*/
#home .skills {
   
    z-index: 2;
    right: 5%;
    left: 5%;
    display:flex;
}


#skills-dock {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px
}

#skills-dock div {
   
    flex:1;
    box-sizing:border-box;
    flex-basis:7%;
    padding:5px;
    margin-top:auto
   
    
}


 #skills-dock img {
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(0%); /* FF 35+ */
    }


#skills-dock img:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

    /* #skills-dock ul {
        list-style: none;
    }

        #skills-dock ul li {
            display: inline-block;
        }

    #skills-dock li {
        height: 50px;
        margin-right: 20px;
    }*/
    /**= CONACT PAGE****************************************************************************************/
    .social-media, .share {
        list-style-type: none;
        margin: 10px 0 0;
        padding: 0;
    }


    .social-media li {
        margin: 10px 0 25px 0;
    }


        .social-media li i {
            margin-right: 10px
        }



/**TESTIMOMONIALS ******************************************************/
#testimonial {
    background-color: var(--very-dark-grey);
    height:600px;
    color:var(--white);
    position:relative;
   

}
#testimonial section {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 7%;
        max-height: 65vh
    }
#testimonial a {
    color: var(--white);
}


#testimonial a:hover {
        color: var(--second-brand-color);
 }


#testimonial .pullquote {
        font-size: 0.8rem;
        font-style: italic;
        /* margin: 0 25px 0 26px; */
        padding: 0 75px 0 0;
        display: none;
    }




 #testimonial .recommendation  {
        margin: 0;
        padding: 0;
        width:120%
    }

#testimonial .author {
      font-size: 0.8em;
 }

#testimonial image-container {
  max-width: 50px;
  
  
}

#testimonial img {
        max-width: 50px;
        border-radius: 30%;
        float: left;
        margin-right:15px;
}

.pullquote {

}
pullquote div {
    margin: -4px 0px 0 30px;
}

/*always show first element*/

/*#testimonial .more {
    position: fixed;
    bottom: -205px;
    float: right;
    right: 0%;
}


#testimonial ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  
}

 #testimonial ul li {
     margin-left:15px;
 }*/
.testimonial-more {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 95%;
    justify-content: flex-end;
}



.testimonial-more div {
   flex-basis:4%;
}


#testimonial-more-content {
    display: none;
}

#testimonial ul li a.active{
   color:var(--second-brand-color);
}

/**SKILLS ********************************************************************************************/

#skills .skills-container div{
   
}




/**EDUCATION ********************************************************************************************/

#education-body h3{
    font-size:1.4rem;
    padding: 10px 0 10px 0
}

#education-body .image-container {
    border-bottom:2px solid var(--light-grey);
}


/**PROJECTS*********************************************************************************************/
#project-body ul li{
    margin-left:10px;
}

#project-body a, #project-body a:visited {
    color: var(--second-brand-color);
}

#project-body a:hover {
    color: var(--dark-grey);
}

#project-body .btn-primary, #project-body.btn-primary:visited {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--very-dark-grey);
}


 #project-body .btn-primary:hover {
        border-color: var(--light-grey);
        color: var(--second-brand-color);
  }
#project-body .dropdown-menu {
    transform: translate3d(-86px, 35px, 0px) !important;
    background-color:var(--off-white);
}

#project-body a.dropdown-item {
    color: var(--dark-grey);
}

 #project-body a.dropdown-item:hover {
        color: var(--second-brand-color);
 }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.02rem var(--second-brand-color);
}

video {
    width:100%;
}



.carousel a, .carousel a:visited, .carousel a:focus, .carousel-control-next:focus, .carousel-control-next:hover {
    color: var(--second-brand-color);
}

    .carousel a:hover {
        color: var(--second-brand-color);
    }


.transparent-modal .modal-content {
    background-color: transparent !important;
    border:none;
}

.transparent-modal .modal-header {
    border: 0px solid transparent;
    width: 88%;
}

.transparent-modal .modal-header .close {
        color: var(--second-brand-color);
        font-size:2rem;
 }

.transparent-modal .carousel-item >  img {
    margin: auto;
}

#about-content .panel-heading i{
    float:right;    
}

#about-content .panel-body a {
    margin-top:10px;
}

#about-content .panel-body ul {
    padding:0;
}

#about-content .panel-body li {
    list-style: none;
    margin:0 5px 10px 0;
}

   


#about-content .panel-body li:before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        color: var(--green);
        content: "\f00c";
}


/**BLOGS*********************************************************************************************/
.blog-header {
    height: 200px;
    overflow: hidden;
}

    .blog-header img {
        margin: -100px;
    }

#blog-body .date, #blog .date {
    font-family: 'Futura LT Light';
    font-size: 0.8rem;
}

.blog.jumbotron {
    height:105px;
}


#blog h1 {
    color: var(--dark-grey);
    font-size: 1.75em;
}

ul.share {
    margin:0;
}

ul.share li {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 0.9em;
    padding-top:0;
}

ul.share a {
    color: var(--second-brand-color);
}

ul.share a:hover {
    color: var(--dark-grey);
}