@using Portfolio.Core.Models.Appsettings
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings





<div class="pos-f-t">

    <nav class="navbar navbar-dark navbar-expand-md bg-darkpt-2 mr-auto">
        <div class="container pt-1">


            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><img class="pt-2 mr-2 img-fluid d-none d-md-inline-block" src="~/image/barry-halper-profile.jpg" alt="@appSettings.Value.Author"> @appSettings.Value.Author</a>


            <button class="navbar-toggler" data-toggle="collapse" data-target="#defaultNavbar1">
                <i class="fas fa-bars"></i>
                <span class="navbar-toggler-icon d-none"></span>
            </button>




            <div class="collapse navbar-collapse " id="defaultNavbar1">
                <ul class="nav navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link " href="/About"> <span>About</span> <i class="fad fa-chart-line"></i></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/Skills"> <span>Skills</span> <i class="fad fa-chart-line"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Projects"><span>Projects </span><i class="fad fa-project-diagram"></i> </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Testimonials"> <span>Testimonials</span> <i class="fad fa-newspaper"></i> </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Education"> <span>Education </span><i class="fad fa-university"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/CV"> <span>CV</span> <i class="fad fa-file-pdf"></i> </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Blogs"> <span>Blogs</span> <i class="fad fa-blog"></i> </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="/Contact"> <span>Contact</span> <i class="fad fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



</div>